<footer class="footer pt-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 ms-auto">
        <div>
          <a href="">
            <img
              src="../../assets/material/img/ictak.png"
              class="mb-3 footer-logo"
              alt="main_logo"
            />
          </a>
        </div>
        <div>
          <ul class="d-flex flex-row ms-n3 nav">
            <li class="nav-item">
              <a
                class="nav-link pe-1"
                href="https://www.facebook.com/ictkerala/"
                target="_blank"
              >
                <i class="fab fa-facebook text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link pe-1"
                href="https://twitter.com/ictakerala/status/580323324766502912"
                target="_blank"
              >
                <i class="fab fa-twitter text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link pe-1"
                href="https://www.linkedin.com/company/ictak/about/"
                target="_blank"
              >
                <i class="fa fa-linkedin text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link pe-1"
                href="https://github.com/zandeepsanand"
                target="_blank"
              >
                <i class="fab fa-github text-lg opacity-8"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link pe-1"
                href="https://www.youtube.com/channel/UCFRoEEgl_pBGtREE-Qp9zAg"
                target="_blank"
              >
                <i class="fab fa-youtube text-lg opacity-8"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">ICT ACADEMY HQ</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank"> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank"> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                G1,Ground Floor Thejaswini Building Technopark
                Thiruvananthapuram Kerala India
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
            
                target="_blank"
              >
                Phone: +91-471-2700811
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">ICT ACADEMY-CENTRAL REGION</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank"> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                Ground Floor Rajamally Building, Infopark Koratty Thrissur
                Kerala India
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                Phone: +91-481-2731050
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4">
        <div>
          <h6 class="text-sm">ICT ACADEMY-NORTH REGION</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a
                class="nav-link"
       
                target="_blank"
              >
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
            
                target="_blank"
              >
                2nd Floor Ul Cyberpark Building Nellikode PO Kozhikode Kerala
                India
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                target="_blank"
              >
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
               
                target="_blank"
              >
                Phone: +91-495-2431432
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto">
        <div>
          <h6 class="text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank">
                Terms & Conditions
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank"> Privacy Policy </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="" target="_blank"> Licenses (ICTAK) </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center">
          <p class="text-dark my-4 text-sm font-weight-normal">
            All rights reserved. Copyright © ICTAK by
            <a href="" target="_blank">Team One</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
