.text-white{
    font-size:28px;
}
.footer{
    left:28%;
}
.form-control.ng-touched.ng-invalid {
    border:1px solid #D81B60;
}
.form-control.ng-touched.ng-valid {
    border:1px solid rgb(53, 52, 52);
}
.change_pass{
    color:#7b809a;
    font-size: 14px;
    padding-left:25%;
}

@media only screen and (min-device-width:320px) and (max-device-width:425px){
    .footer{
        left:0%;
    }
}
@media only screen and (min-device-width:426px) and (max-device-width:768px){
    .footer{
        left:22%;
    }
    .change_pass{
        padding-left:40%;
    
    }
}
