<app-header></app-header>
<header class="bg-gradient-dark">
    <div class="page-header min-vh-75" style="background-image: url(https://images.unsplash.com/photo-1542744173-8e7e53415bb0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80); background-position-y: 50%;">
      <span class="mask bg-gradient-info opacity-8"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center mx-auto my-auto">

            <h1 class="text-light" style="font-weight: bold; font: size 16px;" data-aos="flip-up"  data-aos-duration="2000">PARTNERSHIP</h1>
            <div id="typed-strings" style="display: none;">
              <h1>team</h1>
              <h1>design</h1>
              <h1>tool</h1>
            </div>
            <!-- <p class="lead mb-4 text-white opacity-8">ICT Academy of Kerala (ICTAK) is pleased to offer its Premium Memberships to selected Engineering , Science & Management Institutions and Polytechnics in the state. Through the programme, ICTAK will support its members institution’s Faculty members, Students and Staffs with quality training resources, certifications and Industry immersions on IR4.0 Technologies, and thereby enabling them to reach their Academic and Career potential.</p> -->
            <button type="submit" routerLink="/LandingPage/partnershipform" class="btn bg-white mt-5 text-dark">Register Here</button>
          </div>
        </div>
      </div>
      <div class="position-absolute w-100 z-index-1 bottom-0">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 40" preserveAspectRatio="none" shape-rendering="auto">
          <defs>
            <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
          </defs>
          <g class="moving-waves">
            <use xlink:href="#gentle-wave" x="48" y="-1" fill="rgba(255,255,255,0.40"></use>
            <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.35)"></use>
            <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.25)"></use>
            <use xlink:href="#gentle-wave" x="48" y="8" fill="rgba(255,255,255,0.20)"></use>
            <use xlink:href="#gentle-wave" x="48" y="13" fill="rgba(255,255,255,0.15)"></use>
            <use xlink:href="#gentle-wave" x="48" y="16" fill="rgba(255,255,255,1"></use>
          </g>
        </svg>
      </div>
    </div>
  </header>