<!-- VISION -->

<body class="bg-gray-300">
  <!-- Start vision and notification -->
  <div class="card card-body shadow-xl mx-3 mx-md-4" style="overflow-y: hidden">
    <section class="pt-3 pb-4" id="count-stats">
      <div class="container mt-5">
        <div
          class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7"
        >
          <div class="tab-content tab-space">
            <div class="tab-pane active" id="preview-header-8">
              <link
                rel="stylesheet"
                type="text/css"
                href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700"
              />
              <script
                src="https://kit.fontawesome.com/42d5adcbca.js"
                crossorigin="anonymous"
              ></script>
              <!-- Material Icons -->
              <link
                href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
                rel="stylesheet"
              />
              <link
                id="pagestyle"
                href="https://demos.creative-tim.com/material-kit-pro/assets/css/material-kit-pro.min.css?v=3.0.0"
                rel="stylesheet"
              />
              <!-- -------- START HEADER 8 w/ two background colors ------- -->
              <header class="header-rounded-images">
                <div class="page-header min-vh-90">
                  <img
                    data-aos="fade-left"
                    class="position-absolute fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block border-radius-section border-top-end-radius-0 border-top-start-radius-0 border-bottom-end-radius-0"
                    src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
                    alt="image"
                    loading="lazy"
                  />
                  <div
                    class="container"
                    data-aos="fade-right"
                    data-aos-offset="300"
                    data-aos-easing="ease-in-sine"
                  >
                    <div class="row">
                      <div class="col-lg-7 d-flex">
                        <div
                          class="card card-body blur text-md-start text-center px-sm-5 shadow-lg mt-sm-5 py-sm-5"
                        >
                          <h2 class="text-dark mb-4">Vision</h2>

                          <p class="lead text-dark pe-md-5 me-md-5">
                            To emerge as the single-point establishment for all
                            the ICT related capability building in the State
                          </p>
                          <div class="buttons">
                            <button
                              type="button"
                              class="btn bg-gradient-primary mt-4"
                              routerLink="/LandingPage/contactus"
                            >
                              Contact Us
                            </button>
                          </div>
                          <!-- <div class="row mt-2">
                            <div class="col-md-3 col-6 p-0">
                              <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-pinterest.svg"
                                alt="logo" />
                            </div>
                            <div class="col-md-3 col-6 p-0">
                              <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-netflix.svg"
                                alt="logo" />
                            </div>
                            <div class="col-md-3 col-6 p-0">
                              <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-coinbase.svg"
                                alt="logo" />
                            </div>
                            <div class="col-md-3 col-6 p-0">
                              <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-nasa.svg" alt="logo" />
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </header>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- -------- /end vision and notification  ------- -->
</body>
