



<body class="bg-gray-300">

<!-- Start vision and notification -->
<div class="card card-body shadow-xl mx-3 mx-md-4 "
  style="overflow-y: hidden">
  <section class="pt-3 pb-4" id="count-stats">

    <div class="container mt-5">
      <div class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
       
        <div class="tab-content tab-space">
          <div class="tab-pane active" id="preview-header-8">
            <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
            <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
            <!-- Material Icons -->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet" />
            <link id="pagestyle"
              href="https://demos.creative-tim.com/material-kit-pro/assets/css/material-kit-pro.min.css?v=3.0.0"
              rel="stylesheet" />
            <!-- -------- START HEADER 8 w/ two background colors ------- -->
            <header class="header-rounded-images">
              <div class="page-header min-vh-90">
                <img data-aos="fade-left" class="
                    position-absolute
                    fixed-top
                    ms-auto
                    w-50
                    h-100
                    z-index-0
                    d-none d-sm-none d-md-block
                    border-radius-section
                    border-top-end-radius-0
                    border-top-start-radius-0
                    border-bottom-end-radius-0
                  "
                  src="https://images.unsplash.com/photo-1530893609608-32a9af3aa95c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80"
                  alt="image" loading="lazy" />
                <div class="container" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="row">
                    <div class="col-lg-7 d-flex">
                      <div class="
                          card card-body
                          blur
                          text-md-start text-center
                          px-sm-5
                          shadow-lg
                          mt-sm-5
                          py-sm-5
                        ">
                        <h2 class="text-dark mb-4">Vision</h2>
    
                        <p class="lead text-dark pe-md-5 me-md-5">
                          To emerge as the single-point establishment for all the
                          ICT related capability building in the State
                        </p>
                        <div class="buttons">
                          <button type="button" class="btn bg-gradient-primary mt-4">
                            Contact Us
                          </button>
                          <button type="button" class="btn btn-outline-secondary mt-4 ms-2">
                            Read More
                          </button>
                        </div>
                        <div class="row mt-2">
                          <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-pinterest.svg"
                              alt="logo" />
                          </div>
                          <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-netflix.svg"
                              alt="logo" />
                          </div>
                          <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-coinbase.svg"
                              alt="logo" />
                          </div>
                          <div class="col-md-3 col-6 p-0">
                            <img class="w-100" src="../../assets/material/img/logos/gray-logos/logo-nasa.svg" alt="logo" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>
          </div>
        </div>
      </div>
    </div>
    



  </section>

</div>
<!-- -------- /end vision and notification  ------- -->




<!-- blog post starts here -->
 
<!-- <section class="py-6 bg-gradient-dark position-relative overflow-hidden">
    <img src="/assets/material/img/shapes/sandeep.svg" class="position-absolute top-0 d-lg-block d-none opacity-6 w-100" alt="pattern">
    <div class="container">
        <div
    class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7"
    >
      <div class="row mb-5">
        <div class="col-lg-8 mx-auto text-center">
          <h3 class="text-white">Latest Blog Posts</h3>
          <p class="lead text-white">The time is now for it to be okay to be great. People in this world should.</p>
        </div>
      </div>
      <div class="row d-flex align-items-center">
        <div class="col-lg-3 col-md-6">
          <div class="card card-blog card-plain" data-aos="zoom-in">
            <a href="javascript:;">
              <img class="w-100 shadow border-radius-md" src="https://www.fresherscamp.com/wp-content/uploads/2020/09/React-and-Angular-Course-696x348.png">
            </a>
            <div class="card-body px-0">
              <h5 class="text-white">Siri brings hands-free</h5>
              <p class="text-white opacity-8 text-sm">
                Siri&#39;s latest trick is offering a hands-free TV viewing experience, that will allow consumers
              </p>
              <button type="button" class="btn btn-white btn-sm">Read more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up">
          <div class="card card-blog card-plain">
            <a href="javascript:;">
              <img class="w-100 shadow border-radius-md" src="/assets/material/img/examples/blog2.jpg">
            </a>
            <div class="card-body px-0">
              <h5 class="text-white">Material Kit</h5>
              <p class="text-white opacity-6 text-sm">
                Siri&#39;s latest trick is offering a hands-free TV viewing experience, that will allow consumers
              </p>
              <button type="button" class="btn btn-white btn-sm">Read more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in">
          <div class="card card-blog card-plain">
            <a href="javascript:;">
              <img class="w-100 shadow border-radius-md" src="https://miro.medium.com/max/1024/1*6l15igU_z2Uj15SzOGx1Iw.png">
            </a>
            <div class="card-body px-0">
              <h5 class="text-white">Grow Your Business</h5>
              <p class="text-white opacity-6 text-sm">
                Siri&#39;s latest trick is offering a hands-free TV viewing experience, that will allow consumers
              </p>
              <button type="button" class="btn btn-white btn-sm">Read more</button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6" data-aos="zoom-in-up">
          <div class="card card-blog card-plain">
            <a href="javascript:;">
              <img class="w-100 shadow border-radius-md" src="https://learnenglish.britishcouncil.org/sites/podcasts/files/styles/max_1300x1300/public/2021-09/GettyImages-1072206958_2.jpg?itok=V-r09FUt">
            </a>
            <div class="card-body px-0">
              <h5 class="text-white">Train Your Brain</h5>
              <p class="text-white opacity-6 text-sm">
                Siri&#39;s latest trick is offering a hands-free TV viewing experience, that will allow consumers
              </p>
              <button type="button" class="btn btn-white btn-sm">Read more</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section> -->
  <!--/ blogpost ends here  -->
 

  <!-- tester video cards starts here  -->
 
<!-- <div class="container mt-5" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1500">
<div class="page-header min-vh-85">
    <div
    class="position-relative border-radius-xl overflow-hidden shadow-lg mb-7"
    >
    <div  class="position-absolute fixed-top ms-auto w-75 h-75 border-radius-xl z-index-1 d-none d-sm-none d-md-block me-n4"
     style="background-image: url(&#39;;); background-size: cover;" >
     <video src="/assets/banner-home/video/video2.mp4" oncanplay="this.play()" onloadedmetadata="this.muted = true" style="width: auto;height: auto;" autoplay loop muted></video>
     
    </div>
    <div class="container" >
      <div class="row mt-7 mb-5">
        <div class="col-lg-6 d-flex justify-content-center flex-column">
          <div class="card card-body d-flex justify-content-center shadow-lg border-radius-xl p-5 blur align-items-center z-index-2 shadow-blur">
            <h2 class="text-dark mb-4">Improving the design complexity</h2>
            <p class="text-lg-start text-center mb-0">We’re constantly trying to express ourselves and actualize our dreams. If you have the opportunity to play this game of life you need to appreciate every moment. A lot of people don’t appreciate the moment until it’s passed.</p>
            <br>
            <div class="buttons w-100">
              <button type="button" class="btn bg-gradient-dark mb-0">Contact Us</button>
              <button type="button" class="btn btn-outline-dark mb-0 ms-1">Read More</button>
            </div>
            <div class="row mt-5 justify-content-start">
              <div class="col-md-3 col-6 p-0">
                <img class="w-100 opacity-6" src="../../assets/material/img/logos/gray-logos/logo-pinterest.svg" alt="logo">
              </div>
              <div class="col-md-3 col-6 p-0">
                <img class="w-100 opacity-6" src="../../assets/material/img/logos/gray-logos/logo-netflix.svg" alt="logo">
              </div>
              <div class="col-md-3 col-6 p-0">
                <img class="w-100 opacity-6" src="../../assets/material/img/logos/gray-logos/logo-coinbase.svg" alt="logo">
              </div>
              <div class="col-md-3 col-6 p-0">
                <img class="w-100 opacity-6" src="../../assets/material/img/logos/gray-logos/logo-nasa.svg" alt="logo">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div> -->

  <!--/ video card ends here robot  -->
  <!-- -------- END CONTENT 10 w/ card over right bg image ------- -->
<!-- End service section -->

<!-- Start skill section -->
