
<app-bannercorporate></app-bannercorporate>
    <!-- Start about section -->
    <section class="about-section section-gap-full relative mt-5" id="about-section">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 about-left ">
                    <img class="img-fluid position-relative border-radius-xl overflow-hidden shadow-lg mb-7" src="https://media.istockphoto.com/photos/elearning-online-education-or-internet-encyclopedia-concept-open-and-picture-id1263424631?b=1&k=20&m=1263424631&s=170667a&w=0&h=1Iu9DYwkR77QTLbKp1fC1M9gbJMCyaHoP7u3q1GqiiA=" alt="">
                </div>
                <div class="col-lg-5 col-md-5 about-right" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <h2 class="headblack"> Corporate Membership </h2>
                    <p>ICT Academy of Kerala (ICTAK) is pleased to offer its Premium Memberships to selected Engineering , Science & Management Institutions and Polytechnics in the state. Through the programme, ICTAK will support its members institution’s Faculty members, Students and Staffs with quality training resources, certifications and Industry immersions on IR4.0 Technologies, and thereby enabling them to reach their Academic and Career potential.</p>
                    <br>
                    <!-- <a class="primary-btn" routerLink="/LandingPage/corporateform" >Register Here</a> -->
                </div>
            </div>
        </div>
        <div class="floating-shapes">
            <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'>
                <img src="assets/img/shape/fl-shape-1.png" alt="">
            </span>
            <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'>
                <img src="assets/img/shape/fl-shape-2.png" alt="">
            </span>
            <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
                <img src="assets/img/shape/fl-shape-3.png" alt="">
            </span>
            <span data-parallax='{"x": -20, "y": 180}'>
                <img src="assets/img/shape/fl-shape-4.png" alt="">
            </span>
            <span data-parallax='{"x": 300, "y": 70}'>
                <img src="assets/img/shape/fl-shape-5.png" alt="">
            </span>
            <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
                <img src="assets/img/shape/fl-shape-6.png" alt="">
            </span>
            <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
                <img src="assets/img/shape/fl-shape-7.png" alt="">
            </span>
            <span data-parallax='{"x": 60, "y": -100}'>
                <img src="assets/img/shape/fl-shape-9.png" alt="">
            </span>
            <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
                <img src="assets/img/shape/fl-shape-10.png" alt="">
            </span>
        </div>
    </section>
    <!-- End about section -->


    


	<!--  Features -->
    <div class="containerfeatures mt-5">
	<section class="section_sapce text-center position-relative border-radius-xl overflow-hidden shadow-lg mb-7" style="padding-top: 5%;" (mouseenter)="evalc();">
		<div class="row text-center" >
			<div class="container mt-5">
				<div class="section-title margin-b30">
					<h2 class="headblack"> Why Choose Us ?</h2>
                </div>
			</div>
		</div>
        <div class="col-lg-12">
            <div class="row features-wrap">
                <div class="col-md-4">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-comments-smiley"></span>
                        <h3><i class="fa fa-users fa-3x "></i></h3>
                        <h3>For Students</h3>
                        <p style="text-align: justify;padding-bottom: 21%;">
                            <li>Free training on industrial skills with global leaders like Microsoft, Oracle Academy, Google, Salesforce, AWS, and AAU in IR 4.0 technology domain.</li>
                            <li>Students from partner institutions benefit from the learning enrichment programs like ICSET, Techathlon, and Student Top 10.</li>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-light-bulb"></span>
                        <h3><i class="fa fa-handshake fa-3x "></i></h3>
                        <h3>For Faculty</h3>
                        <p style="text-align: justify;padding-bottom: 21%;">
                           
                            <li>Faculty Benefits Access to Partner Curriculum.</li>
                            <li>Faculty development program from Salesforce, Oracle Academy, Google, and Microsoft.</li>
                            <li>Industrial visit. Opportunity to see, interact, and experience the industry innovations.</li>
                               <li>Opportunity to publish their works in our international magazine.</li> 
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-feature relative">
                        <div class="overlay overlay-bg"></div>
                        <span class="ti-pencil-alt"></span>
                        <h3><i class="fa fa-school fa-3x "></i></h3>
                        <h3>For Institutions</h3>
                        <p style="text-align: justify;">
                          <li>Access to ICTAK corporate partner pre-programs and events.</li>
                          <li>Employability Quotient Test (EQT) to all the students to know their industrial skills.</li>
                            <li>Support for educators on partner program curriculum delivery and integration.</li>
                            <li>Connection and support to virtual and on-campus events.</li>
                            <li>Joint PR opportunities with ICT Academy of Kerala.</li>
                        
                        </p>
                    </div>
                </div>
               
            </div>
        </div>
        
	</section>
    </div>

	<!-- End of Features -->

    

    <div class="col-lg-12 mt-5" (mouseenter)="evalc()">    
        <section class="stat-section section-gap-half position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
            <div>
                <h2 style="font-weight:bold; text-align: center;color:white;padding-bottom: 10%;">
                    Number of candidates trained on various skills in FY 20-21                
                </h2>
            </div>
            <div class="container">
                <div class="row" >
                    <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                        <div class="single-stat">
                            <i class="ti-thumb-up"></i>
                            <h1>
                                <span class="counter"><div  data-target="100">{{rpa}}</div></span></h1>
                            <h4>Robotic Process Automation</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                        <div class="single-stat">
                            <i class="ti-face-smile"></i>
                            <h1>
                                <span class="counter"><div  data-target="60000">{{fsd}}</div></span></h1>
                            <h4>Full Stack Development</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                        <div class="single-stat">
                            <i class="ti-paint-bucket"></i>
                            <h1>
                                <span class="counter"><div  data-target="60000">{{dts}}</div></span></h1>
                            <h4>Data Science and Analytics</h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6" style="text-align: center;">
                        <div class="single-stat">
                            <i class="ti-check-box"></i>
                            <h1>
                                <span class="counter"><div  data-target="60000">{{dm}}</div></span></h1>
                            <h4>Digital Marketing</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


<section class="skill-section section-gap-half position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
    <div class="container mt-5" data-aos="flip-left" data-aos-duration="1500">
    <div class="row align-items-center justify-content-center">
    <div class="col-lg-6 skill-left">
    <h2>Commercial and Validity Period</h2>
   
    <p>
        The industry membership programme will be offered based on an internal accreditation process and shall be valid for three years. The membership will be free for selected industry partners.
    </p>
   
    </div>
    <div class="col-lg-6 skill-right">
    <img class="img-fluid" src="https://media.istockphoto.com/photos/businessman-pressing-contract-on-a-screen-concept-about-business-picture-id516987842?b=1&k=20&m=516987842&s=170667a&w=0&h=HWecuaqM2zyScccsFgWeZrWa7BTyyeePavifJxolTTM=" alt="">
    </div>
    </div>
    </div>
    </section>

    <!-- -------   START PRE-FOOTER 6 - title & description and input    -------- -->
    <div class="py-5 mt-5">
        <div class="container position-relative border-radius-xl overflow-hidden shadow-lg mb-7">
          <div class="row">
            <div class="col-8 mx-auto text-center">
              <h3 class="font-weight-bolder m-5"> Meet our Technology Partners </h3>
            </div>
          </div>
          <div class="row mt-4 m-3">
            <div class="col-lg-2 col-md-4 col-6 mb-4" *ngFor="let partner of partners">
              <img class="w-100 opacity-9" src={{partner}} alt="logo">
            </div>
           
          </div>
        </div>
      </div>
  <!-- -------   END PRE-FOOTER 6 - title & description and input    -------- -->

  <app-footer></app-footer>


